<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>To Do List</title>
    </head>
    <body>
        <h1><%= kindOfDay %></h1>
        <ul>
            <li>buy food</li>
            <li>cook food</li>
            <li>eat food</li>
            <li><%= newListItem %></li>
        </ul>
        <form class="" action="/" method="post">
            <input type="text" name="newItem">
            <button type="submit" name="button">add</button>
        </form>
    </body>
</html>
